<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="css/myStyle.css" rel="stylesheet" />
    <link href="css/result.css" rel="stylesheet"/>
</head>
<body>
<header class="col-md-12 container text-center well">
    <img src="http://www.exheat.com/template/default/img/banner-quote.jpg" alt="Mountain View" style="width:100%;height:300px;"/>
    <span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:30px;">Square</span>
</header>
<div class="col-md-2">
    <div th:replace="fragments/squareFragment :: square"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"/>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="offer offer-default">
                <div class="shape">
                    <div class="shape-text">
                        area
                    </div>
                </div>
                <div class="offer-content">
                    <h1 class="lead">
                        <p th:text="${param.area[0]}">Area</p>
                    </h1>
                    <p>
                        Square area
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="offer offer-default">
                <div class="shape">
                    <div class="shape-text">
                        per
                    </div>
                </div>
                <div class="offer-content">
                    <h1 class="lead">
                        <p th:text="${param.area[1]}">Perimeter</p>
                    </h1>
                    <p>
                        Square perimeter
                    </p>
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-12">
                    <button onclick="location.href='/square'" class="btn btn-warning pull-right"><span class="glyphicon glyphicon-chevron-left"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>